<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/start_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/start_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlace"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".profile.layout.EditProfile"
            android:exported="false" />
        <activity
            android:name=".profile.layout.Profile"
            android:exported="false" />
        <activity
            android:name=".main.layout.ShowDetailedPublicPlaylist"
            android:exported="false" />
        <activity
            android:name=".playlist.layout.playlistInMusicPlayer"
            android:exported="false" />
        <activity
            android:name=".youtubeMusicPlayer.layout.SelectPlaylist"
            android:exported="false" />
        <activity
            android:name=".follow.follow"
            android:exported="false" />
        <activity
            android:name=".main.layout.MainDisplay"
            android:exported="false" />
        <activity
            android:name=".playlist.layout.AddPlaylist"
            android:exported="false" />
        <activity
            android:name=".playlist.layout.EditPlaylist"
            android:exported="false" />
        <activity
            android:name=".playlist.layout.DetailedPlaylist"
            android:exported="false" />
        <activity
            android:name=".playlist.layout.MyPlaylist"
            android:exported="false" />
        <activity
            android:name=".youtubeMusicPlayer.layout.MusicPlayer"
            android:exported="false" />
        <activity
            android:name=".youtubeMusicPlayer.layout.SearchMusic"
            android:exported="false" />
        <activity
            android:name=".sign.layout.FindId"
            android:exported="false" />
        <activity
            android:name=".sign.layout.FindPw"
            android:exported="false" />
        <activity
            android:name=".sign.layout.Login"
            android:exported="false" />
        <activity
            android:name=".sign.layout.Join"
            android:exported="false" />
        <activity
            android:name=".sign.layout.Start"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>